.tech {
  white-space: nowrap;
  height: 300px;
  margin-bottom: 100px;
  overflow: hidden;
}

.tech-title {
  font-size: 50px;
  font-weight: 600;
  margin-left: 50px;
  color: #66ffda;
}

.moving-slide {
  display: inline-block;
  height: 100px;
  animation: move-slide 10s infinite linear;
}

.moving-slide img {
  width: 100px;
  margin: 0px 60px;
}

@keyframes move-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
