.profile-section {
  color: white;
  display: flex;
}

.profile-pic {
  scale: 0.7;
  margin-left: 30px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.profile-details img {
  scale: 0.6;
}

.profile-name {
  font-size: 70px;
  font-family: "Inter";
  font-weight: bold;
}

.profile-name span {
  font-size: 70px;
  font-weight: lighter;
}
